<header class="flex items-baseline justify-between w-full">
  <h3
    *ngIf="groupFilter != 'acai'; else saltPlates"
    class="{{ setStyleByKind(kindFilter) }} italic"
  >
    {{ setTitleByGroup(groupFilter, kindFilter) }}
  </h3>

  <ng-template #saltPlates>
    <h3 class="text-purple-400 italic">Escolha seu Açaí</h3>
  </ng-template>

  <nav *ngIf="groupFilter != 'acai'" class="flex gap-10">
    <button
      class="{{ setStyleByKind('salgado') }} font-semibold"
      (click)="setKindFilter('salgado')"
    >
      Salgados
    </button>
    <button
      class="{{ setStyleByKind('doce') }} font-semibold"
      (click)="setKindFilter('doce')"
    >
      Doces
    </button>
  </nav>
</header>

<ul
  *ngIf="plates && groupFilter == 'pastel'"
  class="flex flex-col gap-8 border"
>
  <li *ngFor="let plate of pastelList" class="rounded">
    <p>Nome: {{ plate.title }}</p>
    <p>Descrição: {{ plate.description }}</p>
    <p>Grupo: {{ plate.category.group }}</p>
    <p>Tipo: {{ plate.category.kind }}</p>
  </li>
</ul>
<ul
  *ngIf="plates && groupFilter == 'tapioca'"
  class="flex flex-col gap-8 border"
>
  <li *ngFor="let plate of tapiocaList" class="rounded">
    <p>Nome: {{ plate.title }}</p>
    <p>Descrição: {{ plate.description }}</p>
    <p>Grupo: {{ plate.category.group }}</p>
    <p>Tipo: {{ plate.category.kind }}</p>
  </li>
</ul>
<ul *ngIf="plates && groupFilter == 'acai'" class="flex flex-col gap-8 border">
  <li *ngFor="let plate of acaiList" class="rounded">
    <p>Nome: {{ plate.title }}</p>
    <p>Descrição: {{ plate.description }}</p>
    <p>Grupo: {{ plate.category.group }}</p>
    <p>Tipo: {{ plate.category.kind }}</p>
  </li>
</ul>
