<header class="flex items-center justify-between w-full">
  <!-- <i class="material-icons cursor-pointer" (click)="toggleDisplay()"> close </i> -->
  <h3>Confira nossas opções:</h3>
  <nav *ngIf="groupFilter != 'acai'" class="flex gap-3">
    <button (click)="setKindFilter('salgado')">salgado</button>
    <button (click)="setKindFilter('doce')">doce</button>
  </nav>
</header>

<ul
  *ngIf="plates && groupFilter == 'pastel'"
  class="flex flex-col gap-8 border"
>
  <li *ngFor="let plate of pastelList" class="rounded">
    <p>Nome: {{ plate.title }}</p>
    <p>Descrição: {{ plate.description }}</p>
    <p>Grupo: {{ plate.category.group }}</p>
    <p>Tipo: {{ plate.category.kind }}</p>
  </li>
</ul>
<ul
  *ngIf="plates && groupFilter == 'tapioca'"
  class="flex flex-col gap-8 border"
>
  <li *ngFor="let plate of tapiocaList" class="rounded">
    <p>Nome: {{ plate.title }}</p>
    <p>Descrição: {{ plate.description }}</p>
    <p>Grupo: {{ plate.category.group }}</p>
    <p>Tipo: {{ plate.category.kind }}</p>
  </li>
</ul>
<ul *ngIf="plates && groupFilter == 'acai'" class="flex flex-col gap-8 border">
  <li *ngFor="let plate of acaiList" class="rounded">
    <p>Nome: {{ plate.title }}</p>
    <p>Descrição: {{ plate.description }}</p>
    <p>Grupo: {{ plate.category.group }}</p>
    <p>Tipo: {{ plate.category.kind }}</p>
  </li>
</ul>
