<header
  class="bg-red-500 flex justify-between items-center w-full px-5 py-3 rounded-t-3xl"
>
  <div class="flex items-baseline gap-2">
    <span class="z-auto font-bold text-white px-2 bg-emerald-700 rounded-full">
      {{ items.length }}
    </span>
    <h3 class="text-white">Carrinho</h3>
  </div>

  <i
    class="material-icons relative hover:swingUp cursor-pointer duration-150 text-white"
    (click)="toggleCartMenu()"
  >
    {{ shoppingCartIcon }}
  </i>
</header>

<span
  class="w-full h-fit cart-list-maxHeight flex flex-col justify-between px-5 py-3 gap-5"
  *ngIf="cartMenuDisplay"
>
  <ul class="flex flex-col h-full overflow-y-hidden">
    <ng-container *ngFor="let item of items; index as i">
      <li
        class="w-full flex justify-between items-center border-b border-dashed py-3"
      >
        <div class="flex flex-col">
          <span class="flex gap-2 items-center font-semibold text-gray-500">
            <p>x {{ item.quantity }}</p>
            <span class="flex w-5 h-px bg-gray-300"></span>
            <p>{{ item.name | titlecase }}</p>
          </span>

          <p class="italic text-gray-500 text-sm">
            {{ item.observations }}
          </p>
          <p class="italic text-emerald-700 font-semibold">
            {{ item.price | currency: 'BRL' }}
          </p>
        </div>

        <div class="flex items-center justify-center gap-8 text-gray-500">
          <i
            class="material-icons hover:text-cyan-600 cursor-pointer hover:swingUp"
          >
            edit
          </i>
          <i
            (click)="removeCartItem(item)"
            class="material-icons hover:text-red-600 cursor-pointer hover:swingUp"
          >
            delete
          </i>
        </div>
      </li>
    </ng-container>
  </ul>

  <h4 class="ml-auto font-bold text-emerald-600 underline italic">
    Total: {{ getSubTotal() | currency: 'BRL' }}
  </h4>

  <hr />

  <button
    class="text-white bg-emerald-400 px-8 py-3 rounded-xl flex items-center justify-center gap-5 font-semibold hover:bg-emerald-400/90 duration-150 hover:text-white"
  >
    Prosseguir com o pedido <i class="material-icons">check</i>
  </button>
</span>
