<header class="flex items-baseline justify-between w-full">
  <h3
    *ngIf="groupFilter != 'acai'; else saltPlates"
    class="{{ setStyleByKind(kindFilter) }} italic"
  >
    {{ setTitleByGroup(groupFilter, kindFilter) }}
  </h3>

  <ng-template #saltPlates>
    <h3 class="text-purple-400 italic">Escolha seu Açaí</h3>
  </ng-template>

  <nav *ngIf="groupFilter != 'acai'" class="flex gap-10">
    <button
      class="{{ setStyleByKind('salgado') }} font-semibold"
      (click)="setKindFilter('salgado')"
    >
      Salgados
    </button>
    <button
      class="{{ setStyleByKind('doce') }} font-semibold"
      (click)="setKindFilter('doce')"
    >
      Doces
    </button>
  </nav>
</header>

<ul *ngIf="plates && groupFilter == 'pastel'">
  <li *ngFor="let plate of pastelList">
    <h4>{{ plate.title }}</h4>
    <p>{{ plate.description }}</p>
  </li>
</ul>
<ul *ngIf="plates && groupFilter == 'tapioca'">
  <li *ngFor="let plate of tapiocaList">
    <h4>{{ plate.title }}</h4>
    <p>{{ plate.description }}</p>
  </li>
</ul>
<ul *ngIf="plates && groupFilter == 'acai'">
  <li *ngFor="let plate of acaiList">
    <h4>{{ plate.title }}</h4>
    <p>{{ plate.description }}</p>
  </li>
</ul>
