<header class="flex items-baseline justify-between w-full">
  <h3
    *ngIf="groupFilter != 'acai'; else saltPlates"
    class="{{ setStyleByKind(kindFilter) }} italic"
  >
    {{ setTitleByGroup(groupFilter, kindFilter) }}
  </h3>

  <ng-template #saltPlates>
    <h3 class="text-purple-500 italic">Escolha seu Açaí</h3>
  </ng-template>

  <nav *ngIf="groupFilter != 'acai'" class="flex gap-10">
    <button
      class="{{ setStyleByKind('salgado') }} font-semibold"
      (click)="setKindFilter('salgado')"
    >
      Salgados
    </button>
    <button
      class="{{ setStyleByKind('doce') }} font-semibold"
      (click)="setKindFilter('doce')"
    >
      Doces
    </button>
  </nav>
</header>

<ul>
  <ng-container *ngFor="let plate of plates">
    <li
      *ngIf="
        plate.category.group !== 'acai' &&
          plate.category.group === groupFilter &&
          plate.category.kind === kindFilter;
        else acaiMenu
      "
      class="text-gray-400 hover:text-gray-700 text-opacity-50 hover:text-opacity-100 hover:bg-gray-50"
    >
      <header class="flex w-full justify-start items-center gap-4">
        <h4 class="{{ setStyleByKind(kindFilter) }} flex items-center gap-2">
          {{ plate.title }}
        </h4>
        <span class="w-6 bg-gray-300 h-0.5 flex"></span>
        <p class="text-gray-500 font-semibold italic">
          {{ plate.price | currency: 'BRL' }}
        </p>
      </header>
      <span
        class="flex justify-between w-full items-center text-gray-500 hover:text-gray-700 duration-150 cursor-default"
      >
        <p class="w-3/5 text-ellipsis">{{ plate.description }}</p>
        <button
          class="material-icons cursor-pointer hover:swingUp hover:text-3xl"
          (click)="openModal(plate)"
        >
          shopping_cart
        </button>
      </span>
    </li>

    <ng-template #acaiMenu>
      <li *ngIf="groupFilter === 'acai' && plate.category.group == 'acai'">
        <header class="flex w-full justify-start items-center gap-4">
          <h4 class="text-purple-500 flex items-center gap-2">
            {{ plate.title }}
          </h4>
          <span class="w-6 bg-gray-300 h-0.5 flex"></span>
          <p class="text-gray-500 font-semibold italic">
            {{ plate.price | currency: 'BRL' }}
          </p>
        </header>
        <span
          class="flex justify-between w-full items-center text-gray-500 hover:text-gray-700 duration-150 cursor-default"
        >
          <p class="w-3/5 text-ellipsis">{{ plate.description }}</p>
          <button
            class="material-icons cursor-pointer hover:swingUp hover:text-3xl"
            (click)="openModal(plate)"
          >
            shopping_cart
          </button>
        </span>
      </li>
    </ng-template>
  </ng-container>
</ul>

<article
  class="absolute top-0 left-0 w-screen h-screen flex items-center justify-center bg-black/30 backdrop-blur-sm z-20 modalBackgroundAnimation"
  *ngIf="modalDisplay"
>
  <div
    class="rounded-3xl bg-white shadow-2xl flex flex-col w-fit p-5 gap-4 z-30 modalContainerAnimation"
  >
    <header
      class="flex w-full justify-between border-b border-gray-400 py-3 {{
        setStyleByKind(modalPlate.category.kind)
      }}"
    >
      <h4>Detalhes</h4>
      <i
        class="material-icons cursor-pointer hover:swingUp duration-150"
        (click)="closeModal()"
      >
        close
      </i>
    </header>

    <form
      (ngSubmit)="addToCart(modalPlate)"
      class="flex flex-col w-full p-2 gap-5 text-gray-500"
    >
      <label for="plate" class="flex items-center gap-2">
        <p>Produto:</p>
        <input
          type="text"
          id="plate"
          name="plate"
          value="{{ modalPlate.title }}"
          readonly
          class="{{
            setStyleByKind(modalPlate.category.kind)
          }} font-semibold italic active:border-hidden focus-visible:outline-none"
        />
      </label>

      <label for="quantity" class="flex items-center gap-2">
        <p>Quantidade:</p>
        <input
          type="number"
          name="quantity"
          id="quantity"
          value="1"
          class="{{
            setStyleByKind(modalPlate.category.kind)
          }} font-semibold italic border-2 pl-4 w-16 text-start rounded-full"
          max="20"
          min="1"
          [(ngModel)]="formOrder.quantity"
        />
      </label>

      <label for="observations" class="flex flex-col gap-2">
        <p>Observações:</p>
        <input
          name="observations"
          id="observations"
          placeholder="Exemplo: sem cebola, sem tomate..."
          class="border-2 rounded min-w-full p-3 text-start align-text-top"
          [(ngModel)]="formOrder.observations"
        />
      </label>

      <p class="text-2xl text-emerald-700 italic text-center font-semibold">
        {{ modalPlate.price * formOrder.quantity | currency: 'BRL' }}
      </p>

      <hr />

      <button
        type="submit"
        class="bg-emerald-400 text-gray-50 px-8 py-3 rounded-xl flex items-start justify-center gap-5 hover:bg-emerald-400/90 duration-150 font-semibold hover:text-white"
      >
        Adicionar ao carrinho. <i class="material-icons">add_shopping_cart</i>
      </button>
    </form>
  </div>
</article>
