<header class="flex items-baseline justify-between w-full">
  <h3
    *ngIf="groupFilter != 'acai'; else saltPlates"
    class="{{ setStyleByKind(kindFilter) }} italic"
  >
    {{ setTitleByGroup(groupFilter, kindFilter) }}
  </h3>

  <ng-template #saltPlates>
    <h3 class="text-purple-400 italic">Escolha seu Açaí</h3>
  </ng-template>

  <nav *ngIf="groupFilter != 'acai'" class="flex gap-10">
    <button
      class="{{ setStyleByKind('salgado') }} font-semibold"
      (click)="setKindFilter('salgado')"
    >
      Salgados
    </button>
    <button
      class="{{ setStyleByKind('doce') }} font-semibold"
      (click)="setKindFilter('doce')"
    >
      Doces
    </button>
  </nav>
</header>

<ul>
  <ng-container *ngFor="let plate of plates">
    <li
      *ngIf="
        plate.category.group !== 'acai' &&
          plate.category.group === groupFilter &&
          plate.category.kind === kindFilter;
        else acaiMenu
      "
    >
      <h4>{{ plate.title }}</h4>
      <p>{{ plate.description }}</p>
    </li>

    <ng-template #acaiMenu>
      <li *ngIf="groupFilter === 'acai' && plate.category.group == 'acai'">
        <h4>{{ plate.title }}</h4>
        <p>{{ plate.description }}</p>
      </li>
    </ng-template>
  </ng-container>
</ul>
